@model MovieList2.Models.Movie


<form asp-action="AddMovie">
  <div class="mb-3">
    <label asp-for="Title" class="form-label">Movie Title</label>
    <input asp-for="Title" type="text" class="form-control">
    <span asp-validation-for="Title" class="danger-text"></span>
  </div>

  <div class="mb-3">
    <label asp-for="ImageURL" class="form-label">Movie Poster URL</label>
    <input asp-for="ImageURL" type="text" class="form-control">
    @* <span asp-validation-for="ImageURL" class="danger-text"></span> *@
  </div>

  <div class="mb-3 form-check">
    <input asp-for="HasWatched" type="checkbox" class="form-check-input">
    <label class="form-check-label" asp-for="HasWatched">Watched?</label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>